.gitignore
arcver
Full_backup
grub
my-grubconf.komodoproject
aaa
aaa1
bbb
bbb1
bbb2
cost
grub.cfg
out
cfg-test
*.prev
sect_extracted
.directory
my.grub.d/00_header
my.grub.d/05_debian_theme
my.grub.d/06_mint_theme
my.grub.d/10_linux
my.grub.d/10_lupin
my.grub.d/20_linux_xen
my.grub.d/20_memtest86+
my.grub.d/30_os-prober
my.grub.d/30_uefi-firmware
my.grub.d/39_folding
my.grub.d/40_custom
my.grub.d/41_custom
my.grub.d/README
my.grub.d/bkp/
my.grub.d/new/
grub.org.cfg
test.txt
